<% content_for :navbar do %>
<% render "navbar" #render navbar partials here%>
<% end %>

<div id="header" width="100%" bgcolor="#000000">
  <div align="center" class="buttons_on" id="pagetitle"><%=  @title %></div>
</div>
