// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@charset "utf-8";

.container {
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

body {
  background-color: #C00000;
  margin-top: 2%;
}

#tixlogo {
  margin-bottom: 10px;
}

#navbar, #aboutme_header {
  margin-bottom: 15px;
}

#sign_in {
  float: right;
  background-color: white;
  border: none;

  a {
    color: #C5000E;
    font-weight: bold;
  }
}

#login_links {
  a {
    color: #C5000E;
    display: inline-block;
    margin-right: 2%;
  }
}

.notice, .alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 500/1000);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #c09853;
}

#navbar {

  td {
    border-right: solid 4px #C00000;
  }
}

#navbar {

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

#aboutme_header {

  .buttons_on {
    line-height: 2.2em;
  }
}

#pagetitle {
  padding-left: 10px;
  text-align: left;
  font-size: 2.5em;
}

#listings {

  .show {
    padding: 1%;
  }

  .evTitle {
    font-size: 24px;
    font-weight: bold;
    color: #C00000;

    a {
      font-size: 24px;
      font-weight: bold;
      color: #C00000;
    }
  }

  .linkTitle {
    font-size: 24px;
    font-weight: bold;
    color: #084976;

    a {
      font-size: 24px;
      font-weight: bold;
      color: #084976;
    }
  }

  .venue_link {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
  }

  .venue_address {
    font-size: 12px;
    font-weight: normal;
  }

  .pricing {
    font-size: 24px;
    font-weight: bold;
  }

  .prices {
    font-size: 24px;
    font-weight: bold;
    color: #C00000;
  }

  img {
    padding: 0 2% 1% 0%;
    float: left;
  }

  hr {
    border-bottom: 1px solid #CCC;
    border-top: none;
  }
  .morelink {
    font-weight: bold;
    color: #C00000;
  }
}


.buttons {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5em;
  
  a {
    color: #C5000E;
  }
}

.buttons_on {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 1.5em;

  a {
    color: white;
  }
}

.eventtitle {
  font-size: 24px;
  font-weight: bold;
  color: #C00000;
}

.eventheadline {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}

.eventsummary {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}

.eventsummarybold {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.buytickets {
  //margin-left: 50%;
  margin-right: 2%;
  float: right;
  font-size: 1.4em;
  font-style: normal;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  display: inline block;
}

.moreinfo{
  position: relative;
  font-size: 1.4em;
  font-style: normal;
  text-decoration: none;
  padding: 10px 20px;
  float: left;
  display: inline block;
}


.booth_title {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}

.scrollingtitles {
  font-size: 58px;
  line-height: 100%;
  text-align: left;
}

.showoftheday {
  font-size: 200px;
  line-height: 50%;
  text-align: center;
  font-weight: bold;
}

.webtitle {
  font-size: 25px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.boothheader {
  font-size: 55px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.ad {
  border: thin solid #000000;
}

.regularprice {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.marquee {
  position: relative;
  overflow: hidden;
  width: 850px;
  height: 920px;
}

.gs {
  font-size: 20px;
  font-weight: bold;
  color: #C00000;
}

.reg {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.reg_gs {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: line-through;
}

.tgheader {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

.tgtext {
  font-family: arial;
  font-size: 14px;
  color: #000000;
}

.tgeventtitle {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.tgbuytickets {
  font-size: 18px;
  font-weight: bold;
  color: #C00000;
}

.textbold {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.textgs {
  font-size: 16px;
  font-weight: bold;
  color: #C00000;
}

.subfont {
  font-size: 10px;
  font-weight: normal;
}

.tixavailtoday {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFF00;
}

.mobilebuttons {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.mobilebuttons_on {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

.mobileheader {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.mobiletitle {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-align: left;
}

.mobiletext {
  font-size: 12px;
  color: #000000;
  text-align: left;
}

.mobiletixavailtoday {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFF00;
}

.mobilebuytickets {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  border: solid 1px #000000;
  padding: 4px;
  margin: 4px 4px 4px 4px;
}

//bootstrap overrides

.btn-danger {
  background-color: #C00000;
  background-image: none;
}

#showinfo .btn-danger {
  background-color: #7D0000;
  background-image: none;
}

.btn {
  background-image: none;
}

.row-fluid .span2 {
  width: 10%;
}

.row-fluid .span3 {
  width: 23%;
}

.row-fluid .span9 {
  width: 74.468%;
}

.pagination a, .pagination span, .pagination em {
  float: left;
  padding: 0 10px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
  min-width: 12px;
}

.pagination {
  height: 40px;
  border-left: 1px solid #DDD;
}

.well {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

//Add stuff for hiding and showing more text for the summary
.morecontent span{
  opacity: 10;
  filter: alpha(opacity=10);
  display: none;
}

a.morelink {
  text-decoration:none;
  outline: none;
}

.summary {
  margin-bottom: 3%;
}

//Telling the user there are no similar shows
#no_shows h2{
  padding-left: 10px;
}

//Back to top scroll
#back_top {
  bottom: 100px;
  cursor: pointer;
  display: none;
  position: fixed;
  //left: 50%;
  //margin-left: 306px;
  text-align: center;
  padding: 5px 10px;
  width: 29px;
  z-index: 999;
  background-color: #f1faff;
  border: 1px solid #ddd;
  border-left: none;
  box-shadow: 2px 0 4px #d7d7d7;
}

#back_top span {
  border-width: 4px;
  border-style: dashed dashed solid dashed;
  border-color:transparent transparent #f00 transparent;
  width: 0;
  height: 0;
  display: block;
  font-size: 0;
  line-height: 0;
  margin-left: 8px;
}

//Css used for favoriting a show
#favorite_this {
	font-size: 12px;
  color: #C00000;
  font-weight: bold;
	padding: 2px 6px;
	margin-bottom: 10px;
	margin-left: 80%;
}

#favorited {
	font-size: 12px;
  color: #C00000;
	padding: 2px 6px;
	height: 17px;
	width: 44px;
  font-weight: bold;
	margin-bottom: 10px;
	margin-left: 82%;
}

//Place two elements next to each other
#wrapper {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
}
