#recommendation_welcome {
padding-top: 20px;
padding-bottom: 30px;
}

.recommendation_input {
padding-top: 10px;
padding-bottom: 30px;
width: 100%;
float: left;
}

.recommendation_section {
float: left;
}

.recommendation_label {
width: 120px;
clear: left;
}

#recommendation_submit {
clear:both;
padding-top: 45px;
}

.recommendation_location_input {
clear: right;
}

#recommendation_location_header {
padding-bottom: 20px;
font-size: 16px;
}

.recommendation_header {
padding-bottom: 20px;
font-weight: bold;
}

.two_input{
width: 24px;
}

.four_input{
width: 48px;
}

#date_format{
font-size:10px;
padding-left:10px;
font-weight: normal;
}

#recommendation_distance{
width: 40px;
}

#recommendation_maxprice{
width:40px;
}

#max{
font-weight: normal;
}