#recommendation_welcome {
padding-top: 20px;
padding-bottom: 30px;
}

.recommendation_input {
padding-top: 10px;
padding-bottom: 10px;
}

.recommendation_section {
float: left;
}

.recommendation_header {
width: 80px;
}

#recommendation_submit {
clear:both;
padding-top: 45px;
}
