// Place all the styles related to the tixbay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@charset "utf-8";

body {
  background-color: #C5000E;
}

#navbar, #aboutme_header {
  margin-bottom: 15px;
  
  a:hover {
    text-decoration: none;
  }

}

.buttons {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5em;
  
  a {
    color: black;
  }

  a:hover {
    color: gray;
  }

}

.buttons_on {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 1.5em;
  
  a:hover {
    color: gray;
  }

  a {
    color: white;
  }
}

.eventtitle {
  font-size: 24px;
  font-weight: bold;
  color: #C00000;
}

.eventheadline {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}

.eventsummary {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}

.eventsummarybold {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.buytickets {
  margin-left: 72%;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

.booth_title {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}

.scrollingtitles {
  font-size: 58px;
  line-height: 100%;
  text-align: left;
}

.showoftheday {
  font-size: 200px;
  line-height: 50%;
  text-align: center;
  font-weight: bold;
}

.webtitle {
  font-size: 25px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.boothheader {
  font-size: 55px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.ad {
  border: thin solid #000000;
}

.regularprice {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.marquee {
  position: relative;
  overflow: hidden;
  width: 850px;
  height: 920px;
}

.gs {
  font-size: 20px;
  font-weight: bold;
  color: #C00000;
}

.reg {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.reg_gs {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: line-through;
}

.tgheader {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

.tgtext {
  font-family: arial;
  font-size: 14px;
  color: #000000;
}

.tgeventtitle {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.tgbuytickets {
  font-size: 18px;
  font-weight: bold;
  color: #C00000;
}

.textbold {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.textgs {
  font-size: 16px;
  font-weight: bold;
  color: #C00000;
}

.subfont {
  font-size: 10px;
  font-weight: normal;
}

.tixavailtoday {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFF00;
}

.mobilebuttons {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.mobilebuttons_on {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

.mobileheader {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.mobiletitle {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-align: left;
}

.mobiletext {
  font-size: 12px;
  color: #000000;
  text-align: left;
}

.mobiletixavailtoday {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFF00;
}

.mobilebuytickets {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  border: solid 1px #000000;
  padding: 4px;
  margin: 4px 4px 4px 4px;
}

img {
  padding: 2% 0;
}
